@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-17xl: 36px;
  --font-size-xl: 20px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-midnightblue: #290c40;
  --color-darkslateblue-100: #6e4980;
  --color-darkslateblue-200: #2f1742;
}
